<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/add" method="post">
      <b>Address:</b><br /><br /><br />
      Building:
      <input type="text" name="Building" /><br /><br />
      X Coord:
      <input type="text" name="Coord1" /><br /><br />
      Y Coord:
      <input type="text" name="Coord2" /><br /><br />
      Street:
      <input type="text" name="Street" /><br /><br />
      Zipcode:
      <input type="text" name="Zipcode" /><br /><br /><br /><br />

      Borough:
      <input type="text" name="Borough" /><br /><br />
      Cuisine:
      <input type="text" name="Cuisine" /><br /><br /><br />

      <b>Grades:</b>
      <br /><br /><br />
      Date:
      <input type="text" name="Date" /><br /><br />
      Grade:
      <input type="text" name="Grade" /><br /><br />
      Score:
      <input type="text" name="Score" /><br /><br /><br /><br />

      Name:
      <input type="text" name="Name" /><br /><br />
      Restaurant Id:
      <input type="text" name="Restaurant_id" /><br /><br />

      <input type="submit" value="Submit" />
    </form>

  </body>
</html>