<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/api/restaurants" method="post">
      Page
      <input type="text" name="page" /><br /><br />
      PerPage:
      <input type="text" name="perPage" /><br /><br /><br /><br />

      Borough:
      <input type="text" name="Borough" /><br /><br />

      <input type="submit" value="Submit" />
    </form>

  </body>
</html>